/.DS_Store
/HistoricalData
/__pycache__
DataManagement/__pycache__/data_manager.cpython-38.pyc
/.cpython
/.__pycache__
DataManagement/__pycache__/dataframe.cpython-38.pyc
DataManagement/__pycache__/imports_manager.cpython-38.pyc
DataManagement/__pycache__/pre_processing_functions.cpython-38.pyc
DataManagement/__pycache__/research_coin_symbols.cpython-38.pyc
DataManagement/__pycache__/coin_data.cpython-38.pyc
DataManagement/__pycache__/pre_processing_functions.cpython-38.pyc
TransferEntropy/__pycache__/
